name: Auto Assign Reviewer

on:
    pull_request:
        types: [opened, reopened]

jobs:
    assign-reviewer:
        runs-on: ubuntu-latest
        steps:
            - name: Assign reviewer
              uses: actions/github-script@v7
              with:
                  script: |
                      github.rest.pulls.requestReviewers({
                        owner: context.repo.owner,
                        repo: context.repo.repo,
                        pull_number: context.issue.number,
                        reviewers: ['raj8664']
                      });
