name: Generate Contributors and Sponsors (Manual Only)

on:
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: write

        steps:
            - name: Contributors and Sponsors
              uses: lowlighter/metrics@latest
              with:
                  token: ${{ secrets.METRIC_TOKEN }}
                  user: raj8664
                  repo: Prep
                  base: ''
                  template: repository
                  filename: metrics.plugin.people.repository.svg
                  plugin_people: yes
                  plugin_people_types: contributors, stargazers, watchers, sponsors
                  output_action: commit
